<div class="flex flex-col items-center justify-center w-full px-5">
  <div class="flex flex-col items-center mb-11">
    <h1 class="text-4xl text-center font-medium mb-2 tracking-wide">Registrar</h1>
    <h2 class="font-light mt-[-0.175rem] text-md max-w-[740px] text-center text-[var(--p-surface-400)]">
      Novo aqui ? vamos cadastrar sua conta sem burocracias
    </h2>
  </div>

  <form [formGroup]="authForm" class="w-full max-w-[530px]">
    <div class="flex gap-6 flex-wrap">
      <input-text-form formId="nome" label="Nome" [control]="authForm.controls.username" placeholder="Digite seu nome" type="text"></input-text-form>

      <input-text-form formId="Sobrenome" label="Sobrenome" [control]="authForm.controls.username" placeholder="" type="text"></input-text-form>
    </div>

    <input-text-form
      class="mt-6"
      formId="email"
      label="Email"
      [control]="authForm.controls.username"
      placeholder="Digite seu email"
      type="text"
    ></input-text-form>

    <input-password-form
      formId="senha"
      class="mt-6"
      label="Senha"
      [control]="authForm.controls.password"
      placeholder="Digite seu nome de usuário"
    ></input-password-form>

    <p-button
      size="small"
      [loading]="loading"
      type="submit"
      styleClass="h-[46px] uppercase"
      (click)="handleLogin()"
      [style]="{ width: '100%' }"
      class="block w-full mt-8"
      label="Registrar"
    />
  </form>

  <small class="mt-6"
    >Já tem uma conta? <span [routerLink]="['/', RouteToNavigate.LOGIN]" class="text-[var(--p-primary-500)] cursor-pointer">Logar</span></small
  >

  @if (msgError) {

  <p-message size="small" class="mt-6" severity="error">{{ msgError }}</p-message>
  }

  <div class="flex gap-2 mt-10">
    <div
      (click)="authGoogle()"
      class="w-[60px] flex items-center justify-center h-[40px] rounded cursor-pointer border border-[var(--p-surface-500)] hover:brightness-150 transition duration-150 ease-in-out"
    >
      <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20">
        <path
          d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z"
          fill="#4285F4"
        />
        <path
          d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z"
          fill="#34A853"
        />
        <path
          d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z"
          fill="#FBBC05"
        />
        <path
          d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z"
          fill="#EA4335"
        />
        <path d="M1 1h22v22H1z" fill="none" />
      </svg>
    </div>
    <div
      class="w-[60px] flex items-center justify-center h-[40px] rounded cursor-pointer border border-[var(--p-surface-500)] hover:brightness-150 transition duration-150 ease-in-out"
    >
      <i [style]="{ fontSize: '20px' }" class="fa fa-brands fa-github"></i>
    </div>
  </div>
</div>
