@if (label) {
<label class="font-light text-[var(--p-surface-300)]" [for]="formId">{{ label }}</label>
}

<div class="form">
  <p-inputNumber
    [id]="formId"
    class="input"
    [size]="size"
    [autocomplete]="autocomplete"
    [style]="{ width: '100%' }"
    [inputStyle]="{ width: '100%' }"
    (onBlur)="onBlur.emit($event)"
    [minFractionDigits]="minFractionDigits"
    [mode]="mode"
    [maxFractionDigits]="maxFractionDigits"
    [formControl]="control"
    [currency]="currency"
    [useGrouping]="useGrouping"
    inputId="stacked"
    [ngClass]="{
      'ng-invalid ng-dirty': control.invalid && (control.dirty || control.touched),
    }"
    [placeholder]="placeholder ? placeholder : 'Digite seu ' + (label ? label : '')"
  />
  <ng-content select="[external-icon]"></ng-content>
</div>
